<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Room Details </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td class=" text-primary">Name</td>
                  <td>{{room.i.name}}</td>
                </tr>
                <tr>
                  <td class=" text-primary">Status</td>
                  <td>{{room.i.status}}</td>
                </tr>
                <tr>
                  <td class=" text-primary">Address</td>
                  <td>{{room.i.address}}</td>
                </tr>
                <tr>
                  <td class=" text-primary">City</td>
                  <td>{{room.i.city}}</td>
                </tr>
                <tr>
                  <td class=" text-primary">Zip</td>
                  <td>{{room.i.zip}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>